* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: #374151;
    margin-bottom: .5rem;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

input::placeholder {
    color: #9CA3AF;
    font-weight: 500;
}

input {
    width: 252px;
    height: 45px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 7px 10px;
}

.submit-button {
    width: 487px;
    height: 50px;
    margin-top: 1rem;
    border-radius: 5px;
    background: rgb(103, 34, 128);
    background: linear-gradient(90deg, rgba(103, 34, 128, 1) 0%, rgba(166, 38, 211, 1) 100%);
    color: white;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.label-content {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.meme-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
}