.van-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.van-img {
    width: 180px;
    border-radius: 5px;
}

.title-con {
    margin-top: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.van-card {
    display: flex;
    flex-direction: column;
}

.type-con {
    color: white;
    border-radius: 5px;
    margin-top: .3rem;
    text-align: center;
    width: 5rem;
    background: #E17654;
    padding: .5rem .2rem;
}