* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 2rem;
    margin-top: 3rem;
}

.left-content img {
    width: 160px;
    height: 240px;
    border-radius: 5px;

}

.country-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.country-container p {
    font-weight: 400;
    color: #2B283A;
}

.country-container img {
    width: 1rem;
}

.country-container a {
    color: #918E9B;
    text-decoration: underline;
}

.right-content {

    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.right-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #2B283A;
}

.right-content-dates {
    font-weight: 700;
    color: #2B283A;
    margin-top: 1rem;
}

.right-content-desc {
    font-weight: 400;
    color: #2B283A;
}

.content-line {
    margin-top: 2rem;
    margin: 0 auto;
    width: 95%;
    color: #F5F5F5;
    background-color: #F5F5F5;
    height: 2px;
}



@media (min-width: 1200px) {
    .card-main-container {
        display: flex;
        justify-content: stretch;
    }
}

@media (max-width:461px) {
    .card-main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .left-content img {
        margin: 0 auto;
        width: 150px;
        height: 150px;
        margin-left: .6rem;
    }

    .right-content h1 {
        font-size: 1.5rem;
    }

    .right-content-desc {
        font-size: .8rem;
    }

    .country-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        margin: 0 auto;
    }

    .country-container p {
        font-size: .8rem;
    }

    .country-container img {
        width: .5rem;
    }

    .country-container a {
        font-size: .8rem;
    }

    .right-content-dates {
        font-size: .8rem;
    }
}

@media (max-width:551px) and (min-width:462px) {
    .left-content img {
        width: 185px;
        height: 278px;
    }

    .right-content-desc {
        font-size: .85rem;
    }

    .right-content h1 {
        font-size: 1.8rem;
    }

    .right-content {
        gap: .5rem;
    }
}