* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F55A5A;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}

header h2 {
    color: white;
    font-weight: 400;
}