* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFF7ED;
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    font-weight: 900;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}


.nav-item {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    font-size: 1.2rem;
}