* {
  box-sizing: border-box;
  font-family: 'General Sans', sans-serif;
}

body {
  margin: 0;
  background-color: #0B2434;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10rem;
  width: 500px;
  height: 520px;
  background-color: #0B2434;
}

.inside-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  width: 460px;
  height: 460px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

.dice-con {
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.die-face {
  width: 50px;
  font-size: 1.75rem;
  height: 50px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.roll-button {
  padding: 1rem 3rem;
  background-color: #5035FF;
  color: #F5F5F5;
  font-weight: 500;
  font-size: 1.25rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.roll-button:focus {
  outline: none;
}

.roll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.tenzies-title {
  margin: 0;
  text-align: center;
}

.instructions {
  font-weight: 400;
  font-size: 1rem;
}