* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #23252C;
}

.main-container {
    margin: 0 auto;
    width: 250px;
}

.image-content {
    margin-top: 2rem;
    width: 250px;
    height: 220px;
    border-radius: 10px 10px 0 0;
    background-image: url("./assets/photo.png");
    background-size: cover;
    background-position: center;
}

.bio-content {
    width: 250px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}